.slick-prev:before,
.slick-next:before {
  color: #007bff !important;
  font-size: 30px;
  opacity: 1;
}

.slick-prev:hover:before,
.slick-next:hover:before {
  color: #0056b3 !important;
}

.custom-card-shadow {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5) !important;
}
